<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            padding: 0 8rem;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>TEST PAGE</h1>
    <div class="container">
        <p>this is just a template put in place to test django template creations!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste dolorum, eligendi? Culpa obcaecati asperiores sapiente, quae autem explicabo earum accusamus ipsum quis omnis iure ipsa ullam a corporis dolor aliquam labore error unde officiis veritatis
            rem enim? Debitis in adipisci perspiciatis praesentium fuga iste ea odit cum molestias temporibus, nostrum accusamus consequuntur et aperiam nobis repellat ipsum esse natus impedit facilis quam architecto quod atque. Magni fugiat dolorem ullam
            amet omnis officia dicta ab repellat suscipit laboriosam quisquam, recusandae distinctio quidem nulla accusamus enim fuga reiciendis eaque aut quis saepe soluta molestias laborum? Sint placeat facilis tempora soluta quia temporibus totam ex
            molestias distinctio ipsum! Libero animi architecto, distinctio facilis ullam vero nam laboriosam, debitis rem minima repudiandae accusamus ipsum at esse tenetur quaerat, commodi maxime quibusdam odio similique non. Molestiae ipsam voluptas
            dicta hic quis, fuga dolorem voluptate molestias eius, voluptatibus fugit cupiditate sequi eos ex quae tenetur, praesentium accusantium? Ratione dolorem in eum non aperiam quos minus eaque obcaecati velit esse totam, corporis rem. Unde laborum
            beatae deleniti, harum iure ullam fugit qui ipsa eius? Laudantium amet hic nam earum ab ducimus autem eaque repellendus, voluptates cum laboriosam! Nam neque officiis sequi ex natus rem laborum aperiam alias.</p>
    </div>
</body>

</html>
